:root{
  --colorFondo: green;
}

.main{
  gap: 15px;
}

.main__info{
  padding: 5px;
  position: relative;
  text-align: center;
  font-size: 1.1em;
  border-radius: 8px;
  box-shadow: 5px 5px 10px gray;
  cursor: pointer;
}

.main__info:hover{
  background-color: aqua;
}

.main__info::after{
  content: "";
  position: absolute;
  top:-30px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 15px solid var(--colorFondo);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
}

.green {
  background-color: var(--colorFondo);
  color: white;
}

