#btn{
  background-color: aquamarine;
}
.btn{
  background-color: #323
}
*[gris]{
  background-color: #ccc
}
button{ 
  background-color: #34f
}
#btn[amarillo]{
  background-color: #ff0 ;
}


.main {
  display: flex;
  gap: 15px;
}
.card {
  width: 300px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2); */
}
.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #030;
  padding: 0.5rem;
  text-align: center;
}
.card__title--red {
  color: red;
}

.card__img {
  margin: auto;
  width: 90%;
  height: 200px;
  background: #00bcd4;
  background-size: cover;
  background-position: center;
}
